<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @task.duration %>
</p>

<p>
  <strong>Status:</strong>
  <% if @task.status %>
      <%= @task.status.title %>

  <% end %>
</p>

<p>
  <strong>Started_at:</strong>
  <%= @task.started_at %>
</p>

<p>
  <strong>Finished_at:</strong>
  <%= @task.finished_at %>
</p>

<h3>Task workers </h3>

<table class="rwd-table">
  <thead>
  <tr>
    <th>Email</th>
    <th>Role</th>
    <th></th>
  </tr>
  </thead>
  <% if @task.member %>
      <tbody>
      <tr>
        <td><%= @task.member.user.email %></td>
        <td><%= @task.member.user.roles.first.name %></td>
        <td><%= link_to 'Remove', project_task_member_path(@project, @task), method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
      </tbody>
  <% end %>
</table>

<% unless @task.member %>
    <%= form_tag(project_task_members_path(id: @task.id)) do %>
        <%= collection_select(:user, :user_id, @project.users, :id, :email) %>
        <%= submit_tag "Add worker" %>
    <% end %>

<% end %>


<%= link_to 'Edit', edit_project_task_path(@project, @task) %> |
<%= link_to 'Back', project_path(@project) %>
