
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<h1>Statistics by projects tasks</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>    
      <th>Duration</th>   
      <th>Status</th>
      <th>Finished at</th>
      <th>Responsible</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
    <tr>
      <td><%= task.title %></td>
      <td><%= task.description %></td>     
      <td><%= task.duration %></td>   
      <td><% if task.status %>
        <%= task.status.title %>
        <%end%>
        <td><%= task.finished_at %></td>
      </td>
      <th><%= task.user.email if task.user%></th>


    </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= column_chart(@members_tasks) %>

<%= link_to 'Back', statistics_path %>