
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<h1>Statistics by projects</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Start date</th>
      <th>End date</th>  
      <th>Spent time</th> 
      <th>Avg. hours per day</th>      
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.description %></td>
        <td><%= project.start_date %></td>
        <td><%= project.end_date %></td>       
        <td><%= (@today-project.start_date).to_i %></td>  
        <td><%= project.tasks.total_without_weekends/project.total_days.to_i%></td>         
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= pie_chart(@projects_chart) %>




<!-- Task.total_time_without_weekends(2)/project.total_days.to_i  -->